.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

a {
  color: #d32381
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Container {
  padding: 0px 8px 8px;
  min-height: 80vh;
}

.AllTextContainer {
  margin-top: 10px;
}

.NoPadding {
  margin: -8px;
}

h1 {
  font-weight: 300;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  Letter-spacing: 3px
}

@media screen and (max-width:768px){
  h1{
    font-size:30px;
  }
}

h2 {
  font-family: 'Raleway', sans-serif;
  Letter-spacing: 3px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  Letter-spacing: 3px
}

h5 {
  font-weight: 100;
  font-size: 1.25em;
  font-family: 'Raleway', sans-serif;
  Letter-spacing: 1px
}

h6 {
  font-weight: 100;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  Letter-spacing: 2px
}

body {
  font-family: 'Raleway', sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.smallText {
  font-size: 8px;
  margin: 0px;
  margin-top: 14px;
  text-align: center;
}

.accentText {
  color: #15b9ed;
}

p {
  font-size: 16px;
}

